<div id="wrapper" class="right-panel">
  <!--section-->
  <section class="dashboard-block">
    <div class="page-content">
      <div class="shadowed-box bg-white mt-2">
        <div class="box-header">
          <p>Click here to <span>Create an Invoice</span></p>
        </div>
        <div class="para-wrap p-3">
          <p>You are just a click away from creating your next
            invoice. Get your hands on it now!</p>
          <a routerLink="../invoice/new-invoice" class="green-btn">
            Invoice <fa-icon [icon]="['fas', 'plus']"></fa-icon> </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="shadowed-box bg-white mt-3">
            <div class="box-header">
              <p>Add your first <span>Client</span></p>
            </div>
            <div class="para-wrap p-3">
              <p>Still waiting to add your First Client?
                Wait no more! Add here now!
              </p>
              <a routerLink="../clients/new-client" class="green-btn">
                Client <fa-icon [icon]="['fas', 'plus']"></fa-icon> </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="shadowed-box bg-white mt-3">
            <div class="box-header">
              <p>Manage and track all your <span>expenses</span></p>
            </div>
            <div class="para-wrap p-3">
              <p>Start managing all your expenses right
                away with this.
              </p>
              <a href="#" class="green-btn"> Expense <fa-icon [icon]="['fas', 'plus']"></fa-icon> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
