<div id="wrapper" class="right-panel">
  <!--section-->
  <section class="dashboard-block">
    <div class="page-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="shadowed-box bg-white mt-2">
            <div class="box-header">
              <a class="toggle-btn " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">View Projects</a>
            </div>
            <div class="bordered-list bg-white p-2 collapse " id="collapseExample">
              <ul>
                <li>
                  <a href="#"><strong>1 hour ago —</strong>
                    Invoice created for Sajana
                    Basnyat</a>
                </li>
                <li>
                  <a href="#"><strong>2 hour ago —</strong>
                    Invoice created for Sajana
                    Basnyat</a>
                </li>
                <li>
                  <a href="#"><strong>1 hour ago —</strong>
                    Invoice created for Sajana
                    Basnyat</a>
                </li>
                <li>
                  <a href="#"><strong>2 hour ago —</strong>
                    Invoice created for Sajana
                    Basnyat</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="shadowed-box bg-white mt-2">
            <div class="box-header">
              <a class="toggle-btn" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
                aria-controls="collapseExample1">At a Glance</a>
            </div>
            <div class="bordered-list bg-white p-2 collapse show" id="collapseExample1">
              <ul>
                <li>
                  <a href="#"><strong>1 hour ago —</strong>
                    Invoice created for Sajana
                    Basnyat</a>
                </li>
                <li>
                  <a href="#"><strong>2 hour ago —</strong>
                    Invoice created for Sajana
                    Basnyat</a>
                </li>
                <li>
                  <a href="#"><strong>1 hour ago —</strong>
                    Invoice created for Sajana
                    Basnyat</a>
                </li>
                <li>
                  <a href="#"><strong>2 hour ago —</strong>
                    Invoice created for Sajana
                    Basnyat</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="shadowed-box bg-white mt-3">
        <div class="box-header">
          <a class="toggle-btn" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
            aria-controls="collapseExample2">Invoice Summary</a>
        </div>
        <div class="bordered-list bg-white p-2 collapse show" id="collapseExample2">
          <ul>
            <li>
              <a href="#"><strong>1 hour ago —</strong>
                Invoice created for Sajana
                Basnyat</a>
            </li>
            <li>
              <a href="#"><strong>2 hour ago —</strong>
                Invoice created for Sajana
                Basnyat</a>
            </li>
            <li>
              <a href="#"><strong>1 hour ago —</strong>
                Invoice created for Sajana
                Basnyat</a>
            </li>
            <li>
              <a href="#"><strong>2 hour ago —</strong>
                Invoice created for Sajana
                Basnyat</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>
